.container {
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif;
}

.question {
    text-align: center;
    text-decoration: underline;
}

.fixedResponse {
    padding: 1rem 0.5rem;
}
.fixedResponse.active {
    background: black;
    color: white;
}